{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">


            <div class="flex justify-center my-5">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        {{ form_start(eventForm) }}
                        {{ form_row(eventForm.title) }}
                        {{ form_row(eventForm.startAt) }}
                        {{ form_row(eventForm.endAt) }}
                        <button type="submit"
                                class="block w-full px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            save
                        </button>
                        {{ form_end(eventForm) }}
                    </div>


                    {% for item in app.user.events|batch(2) %}
                        <div class="grid gap-4">
                            {% for event in item %}

                                <a href="{{ path('show_event', {id: event.id}) }}"
                                   class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

                                    {% if event.isAttending(app.user) %}
                                        <div class="text-red-600 font-bold">You are going!!!</div>
                                    {% endif %}

                                    {% if event.endat and event.isInProgress %}
                                        <div class="bg-red-900 p-2 text-center rounded text-white font-bold">This event is in progress!</div>
                                    {% endif %}

                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.title }}</h5>
                                    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">{{ event.startAt|format_datetime }}
                                        - {{ event.startAt.diffForHumans }}</p>


                                    <div class="flex justify-between items-center">
                                        <div class="flex flex-row items-center -space-x-4 rtl:space-x-reverse">
                                            {% for participant in event.eventParticipants %}
                                                <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                                                     src="{{ participant.target.avatar }}"
                                                     alt="">
                                            {% endfor %}
                                            <div class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800">{{ event.eventParticipants.count }}</div>
                                        </div>
                                        <div>
                                            <img class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-800"
                                                 src="{{ event.owner.avatar }}"
                                                 alt="">
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="h-auto text-center max-w text-gray-400 p-6  border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            {{ 'no-events-found'|trans }}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}